{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/words/word-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h2>Word List 📚🔍</h2>
</section>

<section class="card-container">
  {% for word in words %}
    <div class="card">
    <a href="/words/{{ word.id }}">
      <div class="card-content">
        <h2 class="card-title">{{ word.word }}</h2>
        <p><small><b>Meaning:</b> {{ word.meaning }}</small></p>
        <p><small><b>Synonyms:</b> {{ word.synonyms }}</small></p>
        <!-- <p><small>{{ word.usage_in_sentence }}</small></p>-->
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}