{% extends "base.html" %}
{% block content %}

<h1>About LingoLab</h1>
<hr />
<p class="page-content">
  LingoLab is a vocabulary-building web app designed to help users expand their language skills by adding, managing, and organizing new words. It provides an intuitive interface to store words along with their meanings, synonyms, and usage in sentences.
<p>
<p class="page-content">
<b>Features:</b> <br> <br>
<b>User Authentication:</b> Sign up and log in to create a personalized word collection. <br><br>
<b>All Words Page:</b> View a complete list of words you've added along with their meanings. <br><br>
<b>Add Word:</b> Easily add new words with their meaning, synonyms, and example sentences. <br><br>
<b>Edit & Delete Words:</b> Update or remove words from your vocabulary collection. <br><br>
</p>
<p class="page-content">
  <b>Motivation:</b> <br> <br>
  The idea for LingoLab came from my struggle to remember all the cool new words I encounter every day. Rather than jotting them down on random scraps of paper (or just forgetting them entirely), I decided to build an app that keeps them all in one place—so now my words are as organized as I hope my life will be... someday. 😉

</p>


{% endblock %}